body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-category {
    margin: 20px 0;
    width: 90%;
}

.menu-title {
    font-weight: bold;
}

.menu-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
}